.liste_participants {
	max-width: 603px;
}

.item_participant {
	width:286px;
	padding: 0 15px 0 0;
	margin:0;
}

.fleft {
	float: left;
}

.item_participant_label {
	display:inline-block;
	padding: 0;
	margin: 0;
	width: 185px;
	text-overflow: ellipsis;
}

.item_participant_hours {
	display:inline-block;
	padding: 0;
	margin: 0;
	width: 101px;
}

.fc-license-message {
	display: none;
}